
<form id="forms" (ngSubmit) = "onSubmit(f)" #f=ngForm>
    <h3>REGISTERATION FORM</h3>
    <div class = "form-group">
      <label for ="firstName"> FirstName :</label><br>
      <input required ngModel name="firstName" #firstName = "ngModel"  id = "firstName" type = "text"><br>
      <div class = "alert" *ngIf = "firstName.touched &&!firstName.valid" >firstname is required.</div>
    </div>
    <div class = "form-group">
      <label for ="lastName"> LastName :</label><br>
      <input required ngModel name="lastName" #lastName = "ngModel" id = "lastName" type = "text"><br>
      <div class = "alert" *ngIf = "lastName.touched &&!lastName.valid" >lastname is required.</div>
    </div>
    <div class = "form-group">
      <label for = "email">Email :</label><br>
      <input required email ngModel name = "email" #email = "ngModel" pattern = "^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"id = "email" type = "email"><br>
      <div class = "alert" *ngIf = "email.touched &&!email.valid" >Enter correct email address</div>
    </div>
    <div class = "form-group">
      <label for = "phoneNumber">Phone Number :</label><br>
      <input required  ngModel name = "phoneNumber" #phoneNumber = "ngModel" pattern = "^[6-9]\d{9}$"id = "phoneNumber" type = "tel"><br>
      <div class = "alert" *ngIf = "phoneNumber.touched &&!phoneNumber.valid" >Enter correct Phone Number</div>
    </div>
    <div class = "form-group">
      <label for = "Address">Address :</label><br>
      <textarea required rows="5" cols="17" required  ngModel name = "Address" #Address = "ngModel" id = "Address" type = "text"></textarea><br>
      <div class = "alert" *ngIf = "Address.touched &&!phoneNumber.valid" >Address is required. </div>
    </div>
    <div class = "form-group">
      <label for = "phoneNumber">Phone Number :</label><br>
      <input required  ngModel name = "phoneNumber" #phoneNumber = "ngModel" pattern = "^[6-9]\d{9}$"id = "phoneNumber" type = "tel"><br>
      <div class = "alert" *ngIf = "phoneNumber.touched &&!phoneNumber.valid" >Enter correct Phone Number</div>
    </div>
  
  <button class = "form-group" type="submit" [disabled]="!f.valid">Submit</button>
  </form>
  